<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dc.dao.sys.ExtendUserKeyMapper" >
  <resultMap id="BaseResultMap" type="com.dc.entity.sys.pojo.ExtendUserKey" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="c_id" property="id" jdbcType="INTEGER" />
    <result column="c_userID" property="userid" jdbcType="VARCHAR" />
    <result column="c_key_count" property="keyCount" jdbcType="INTEGER" />
    <result column="c_order1" property="order1" jdbcType="BIT" />
    <result column="c_order2" property="order2" jdbcType="BIT" />
    <result column="c_order3" property="order3" jdbcType="BIT" />
    <result column="c_order4" property="order4" jdbcType="BIT" />
  </resultMap>
</mapper>